<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.ganji.android.haoche" />
        <package android:name="com.hikvision.hikconnect" />
        <package android:name="com.oplus.games" />
        <package android:name="com.coloros.gamespaceui" />
        <package android:name="com.coloros.gamespace" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.taobao.idlefish" />
        <package android:name="com.tencent.android.qqdownloader" />
        <package android:name="com.taobao.taobao" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.sinovatech.unicom.ui" />
        <package android:name="com.car300.activity" />
        <package android:name="com.che300.price" />
        <package android:name="com.sankuai.meituan" />
        <package android:name="com.xunmeng.pinduoduo" />
        <package android:name="com.changhong.ssc.cookbook" />
        <package android:name="com.airvoy.airvoy" />
        <package android:name="com.firsty.app" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="S Tool"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".AppSelectorActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.sockc.unicomhook.config"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="净化 · 隐私 · 应用增强" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

    </application>
</manifest>
