<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sockc.unicomhook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UnicomHook"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
            
        <meta-data
            android:name="xposeddescription"
            android:value="全能净化模块：去广告与弹窗拦截" />
            
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

    </application>
</manifest>
